.box{
	width: 90px;
	height:90px;
	background-color: rgb(0, 247, 255);
	color: rgb(0, 0, 0);
	display:flex;
	justify-content: center;
	align-items: center;
	margin:5px;
}

#container {
    width: 1000px;
    margin: 0 auto;
}

.fizzbuzz {
    background-color: blue;
}

.fizz{
    background-color: green;
}

.buzz {
    background-color: yellow;
}

